
nav{  
    background-image: -webkit-linear-gradient(#336666,#66cccc);
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
nav ul
{
    padding: 0px;
    margin: 0px;;
/*    height: 50px;
    background-color: brown;
    display: block;
*/}
nav ul li
{
    height: 50px;
    /*background-color: blueviolet;*/
    
}
nav ul li{
    
    padding: 0px;;
    width: 24%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
}

a {
    display: block;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
li a:hover
{
    display: block;
    height: 50px;
    font-size: 26px;
    color: blanchedalmond;
    background-color: black;
}
.content
{
    position: absolute;
    width: 100%;
    top: 250px;
    margin-top: 60px;;
    color: crimson;
    font-size: 22px;
    font-style: italic;
}
footer
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
    background-color: lightpink;
}
.sub 
{
    display: none;
    width: inherit;
}
.sub li
{
    display: block;
    width: inherit;
}
.sub li
{
    padding: 0px;;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    
}
.sub li 
{    text-align: center;
     color: white;
     background-image: -webkit-linear-gradient(#336666,#66cccc);
     background-repeat: no-repeat;
}
nav ul li:hover
{
    color: red;
}
nav ul li:hover .sub 
{
    position: fixed;
    display: block;
}
.sub li:hover
{
    background-color: sandybrown;
    background-repeat: no-repeat;
}
.inner
{
    display: none;
}
.sub li:hover .inner
{
    position: relative;
    top: -100%;
    left: 100%;
    display: block;
}
